/* font-family: 'Clash Grotesk', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif; */

body{
    font-weight: 400;
    font-style: normal;
  /* background-image: linear-gradient(90deg, white ,#F7F0DE, #a1a0ff, #c9c5ff, #faffe6, #f1f9e2, white);
  background-size: 400% 400%; */
  backdrop-filter: blur(100px);
  height: vh;
  animation: gradient 20s; ease infinite; 
  overflow-x: hidden;
    font-family: 'Cabinet Grotesk', sans-serif;
    
    
}
/* @keyframes gradient {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;} */



a{
    text-decoration: underline;
    color: blue;
}

h1{
    font-family: 'Cabinet Grotesk', sans-serif;
    color: blue;
    font-style: light;
    font-size: 3rem;
    font-weight: 700;
    margin-block-start: 5rem;
    line-height: 1;
    color: bl;
}
.author-date {
    margin-inline-end: 6rem;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 200;
    font-size: 0.95rem;
    margin-block-end: 0rem;
    margin-block-start: -1rem;
    margin-inline-start: -1rem;
    font-weight: 500;
    color: black;
    background-color: white;
    text-align: justify;
    
}

p {
    text-align: left;
    padding: 1rem;
    width: 100%;
    font-size: 0.8rem;
    margin-inline-start: -1rem;
    margin-inline-end: -1rem;
}

blockquote {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding: 1rem;
    font-style: italic;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: 1px groove grey;
    border-top-left-radius: 1.25rem ;
    background-color: blue;
}

.footnotes {
    
    font-size: 0.5rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: -1rem;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

.footnotes-continued{
    font-size: 0.5rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

figcaption {
    font-size: 0.65rem;
}
figure {
    margin-block-end: 2.5rem;
}
sup{
    font-size: 0.5rem;
    vertical-align: super;
}

nav {
	z-index: 1000;
    top:0;
    left: 0;
    margin-block-end: 3rem;
    margin-inline-end: 12rem;
    border-top-right-radius: 2rem ;
    rotate: 10deg;
    border: 1px groove grey;
    color: white;
    background-color: blue;
    text-align: justify;

	li {
        font-family: 'Clash Grotesk', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 85%;
		font-size: 0.75rem;
        padding: 0.5rem;
        text-align: left;
	}

    a{
    text-decoration: none;
    color: white;
    }

   .hr {
    border-bottom: 1px dotted black;
    width: 100%;
    position: relative;
    left: 0;

}
    }
    span {
        font-family: 'Switzer', sans-serif;
        text-transform: uppercase;
        padding-block-start: 0.7rem;
        font-size: 0.5rem;
        color: grey;
}
.meta {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
  }


footer {
    border-top-left-radius:3rem;
    border-top-right-radius:3rem;
    width: 100%;
    bottom:0;
    left: 0;
    
p {
text-align: center;
}

}
/* ipad media querie */
@media screen and (min-width: 768px) {
    body {
        background-color: white;
    }

    p{
        width: 70ch;
        font-size: 1rem;
    }
}
/* laptop media querie */
@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    body {
        background-color: white;
    }
    p{
        width: 80%;
    }
    .figures {
        display: flex;
        gap: 1rem;
    }
}