.menu{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    font-family: 'Bespoke Serif', serif;
}
.title{
    grid-column: 1 / -1;
    font-size: 0.75rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    padding-block: 0.5rem;
    /* I can't figure out how to make the title centered on the screen; */
}
.author{
    grid-column: 3;
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-block-start: 3rem;
    text-align: right;

}
.date{
    grid-column: 1;
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-block-start: 3rem;
    text-align: left;

}
.home{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bespoke Serif', serif;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-bottom: 0.5px solid grey;

}
.row1{
    grid-row: 1;
    padding: 0.5rem;
    border-bottom: 0.5px solid grey;
}
.row2{
    grid-row: 2;
    padding: 0.5rem;
    border-bottom: 0.5px solid grey;
}
.row3{
    grid-row: 3;
    padding: 0.5rem;
    border-bottom: 0.5px solid grey;
}