:root {
	background-color: rgb(255, 255, 255);
}
header{
	/* background-image:
		radial-gradient(rgb(0, 0, 0) 1.6px, transparent 0);
	background-size: 8px 34px;
	background-position: 0 0;
	background-color: #ffffff; */
}

@media screen and (min-width: 1400px) {
.menu {
			flex-direction: row;
			flex: 1;
			height: auto;
			background-color: rgb(255, 255, 255);
			

			li {
			
				.title{
				}

				a {
					color: rgb(0, 0, 0);
				}

				&.active {
					border-block-end: 1;
					background-color: white;
					color: rgb(0, 0, 0);

					a{
						color: black;
					}
				}
			}
		}
		main {
			display:grid;

		}
	}
