:root {
	overflow-x: hidden;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

img {
	width: 90%;
	overflow: hidden;
	align-items: center;
	margin-block-start: -2rem;
	border: 1px #727272 solid;
	border-radius: 50%;
}

header {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-inline-start: 0;
	padding-block-start: 7rem;
	padding-block-end: 0rem;
	padding-inline: 1rem;
	align-items: center;

	.author-date {
		padding-inline: 1rem;
		margin-block-start: 1rem;
		padding-block-start: 0;
	}
}

h2 {
	background: #FFB781;
	background-color: white;
	color: #424242;
	padding-top: 25px;
	border-block-end: 6px #FFB076 solid;
}

blockquote {
	background: #FFB781;
	background: radial-gradient(circle, rgb(255, 222, 198) 70%, rgb(255, 249, 249) 100%);
	filter: drop-shadow(3px 3px 5px #d4d1d1);
	color: #424242;
	border-radius: 0.25rem;
	border-block-start: 6px #FFE2C4 solid;
}

h1 {
	z-index: 100;
	font-size: 3rem;
	line-height: 90%;
	text-align: center;
	background-image: linear-gradient(to right, #f9cc9c, #E76200);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	margin-block-start: 2rem;
}

@media screen and (min-width: 768px) {
	img {
		margin-block-start: 0rem;
		margin-inline-start: 5rem;
		width: 60%;
	}


	main {
		flex-direction: column;
		gap: 0rem;
		padding-inline: 1rem;
		padding-block: 1rem;

		h1 {
			margin-block-start: -15rem;
			font-size: 6rem;
		}
	}


	.content {
		margin-block-start: -2rem;
		width: 90%;
	}
}


@media screen and (min-width: 1400px) {
	header {
		padding-inline-end: 0;

		.author-date {
			margin-inline-start: 0;
		}
	}

	main {
		margin-block-start: 5rem;

		img {
			margin-block-start: -8rem;
			width: 60%;
		}

		h1 {
			font-size: 5rem;
			line-height: 0.9;
		}

		.content {
			margin-block-start: -3rem;
			margin-inline-start: -2rem;
		}
	}

	p {
		padding-inline: 0rem;
	}
}