main {
    /* grid-template-columns: 35vw 1fr; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img {
    clip-path: circle(210px at center);
}

header {
    display: flex;
    flex-direction: column;
    margin-inline-start: 0;
    padding-block-start: 1rem;
    padding-block-end: 0rem;
    padding-inline: 1rem;

    .author-date {
        padding-inline: 0;
        margin-block-start: 1rem;
        padding-block-start: 0;
    }
}

h2 {
    background: #FFB781;
    background-color: white;
    font-size: 180%;
    justify-content: center;
    color: #424242;
    padding-top: 25px;
    border-block-end: 6px #FFB076 solid;
}

blockquote {
    background: #FFB781;
    background: radial-gradient(circle, rgb(255, 222, 198) 70%, rgb(255, 249, 249) 100%);
    filter: drop-shadow(3px 3px 5px #d4d1d1);
    color: #424242;
    border-radius: 0.25rem;
    border-block-start: 6px #FFE2C4 solid;
}

h1 {
    padding-block-start: -30rem;
    color: #FFE2C4;
}

@media screen and (min-width: 768px) {
    img {
        clip-path: circle(120px at center);
    }

    main {
        flex-direction: row;
        gap: 1.5rem;
        padding-inline: 1rem;
        padding-block: 1rem;
    }

    .whole-image {
        position: sticky;
        top: 0;
        flex: 3;
    }

    .content {
        flex: 7;
    }

    p {
        margin-inline-start: 0rem;
    }
}



/* header{
	/* background-image:
		radial-gradient(rgb(0, 0, 0) 1.6px, transparent 0);
	background-size: 8px 34px;
	background-position: 0 0;
	background-color: #ffffff; */

@media screen and (min-width: 1400px) {
    header {
        padding-inline-end: 0;
        grid-template-columns: 1fr 1fr;

        .author-date {
            margin-inline-start: 0;
        }

    }

    img {
        clip-path: circle(210px at center);
    }

}