body{
    font-weight: 400;
    font-style: normal;
  background-image: linear-gradient(90deg, rgb(246, 211, 211), white);
  background-size: 400% 400%;
  /* backdrop-filter: blur(100px); */
  height: 100vh;
  animation: gradient 20s ease infinite;
  overflow-x: hidden;


}
.header{
  font-size: 50px;
}

@keyframes gradient {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
} 


body{
    font-family: 'Switzer', sans-serif;
}
/*font-family: 'Bespoke Serif', serif;
font-family: 'Switzer', sans-serif;
font-family: 'Gambarino', serif;*/

a{
    color: rgb(66, 66, 66);
}

h1{
    font-family: 'Gambarino', serif;
    font-size: 3rem;
    margin-block-start: 3rem;
    line-height: 1;
}
.author-date {
    font-size: 1.25rem;
    margin-block-end: 5rem;
    font-weight: 500;
}

p {
    width: 100%;
    margin-block-end: 2rem;
    font-size: 0.8rem;
    max-width: 100%;
}

blockquote {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-style: italic;
    font-weight: 500;
    color: rgb(189, 189, 189);
    font-size: 0.8rem;
}

.footnotes {
    font-size: 0.65rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

figcaption {
    font-size: 0.65rem;
}
figure {
    margin-block-end: 2.5rem;
}
sup{
    font-size: 0.5rem;
    vertical-align: super;
}
nav {
    font-family: 'Switzer', sans-serif;
    font-weight: 100;
	z-index: 1000;
    top:0;
    left: 0;
    margin-block-end: 3rem;

	li {
        font-weight: 100;
        line-height: 85%;
		font-size: 0.75rem;
        padding: 0.5rem;
        text-align: left;
	}
    .hr{
        border-bottom: 1px dotted black;
        width: 150%;
        position: relative;
        left: -20%;
        margin-top: -1%;
    }
}

footer {
color: black;
    padding-block: 1rem;
    width: 100%;
    bottom:0;
    left: 0;
p {
text-align: center;
}

}
/* ipad media querie */
@media screen and (min-width: 768px) {
    /* body {
        background-color: white;
    } */

    p{
        width: 70ch;
        font-size: 1rem;
    }
}
/* laptop media querie */
@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    /* body {
        background-color: white;
    } */
    p{
        width: 80%;
    }
    .figures {
        display: flex;
        gap: 1rem;
    }
}