body{
    font-weight: 400;
    font-style: normal;
    animation: gradient 6s infinite;
  animation-timing-function: linear;
}
.header{
  font-size: 50px;
}
/*
@keyframes gradient {
    0% {background-image: linear-gradient(to right, rgb(245, 176, 176) , rgb(207, 255, 255));}
    25% {background-image: linear-gradient(to right, rgb(100, 241, 241) , rgb(255, 203, 203));}
    50% {background-image: linear-gradient(to right, rgb(255, 167, 167) , rgb(116, 69, 255));}
    100% {background-image: linear-gradient(to right, rgb(255, 255, 255) , azure);}
} 
*/

body{
    font-family: 'Switzer', sans-serif;
}
font-family: 'Bespoke Serif', serif;
font-family: 'Switzer', sans-serif;
font-family: 'Gambarino', serif;

a{
    text-decoration: underline;
    color: Orchid;
}

h1{
    font-family: 'Gambarino', serif;
    font-size: 3.5rem;
    margin-block-start: 3rem;
    line-height: 1;
}
.author-date {
    font-size: 1.25rem;
    margin-block-end: 5rem;
    font-weight: 500;
}

p {
    width: 100%;
    margin-block-end: 2rem;
    font-size: 0.8rem;
    max-width: 100%;
}

blockquote {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-style: italic;
    font-weight: 500;
    color: rgb(189, 189, 189);
    font-size: 0.8rem;
}

.footnotes {
    font-size: 0.65rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

figcaption {
    font-size: 0.65rem;
}
figure {
    margin-block-end: 2.5rem;
}
sup{
    font-size: 0.5rem;
    vertical-align: super;
}
nav {
    font-family: 'Switzer', sans-serif;
    font-weight: 100;
	z-index: 1000;
    top:0;
    left: 0;
    margin-block-end: 3rem;

	li {
        font-weight: 300;
        line-height: 85%;
		font-size: 1rem;
        padding: 0.5rem;
        border-bottom: 0.1px;
        border-style:dotted;
	}
}

footer {
color: black;
    padding-block: 1rem;
    width: 100%;
    bottom:0;
    left: 0;
p {
text-align: center;
}

}
/* ipad media querie */
@media screen and (min-width: 768px) {
    body {
        background-color: white;
    }

    p{
        width: 70ch;
        font-size: 1rem;
    }
}
/* laptop media querie */
@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    body {
        background-color: white;
    }
    p{
        width: 80%;
    }
    .figures {
        display: flex;
        gap: 1rem;
    }
}