:root {
}
body{
    font-weight: 400;
    font-style: normal;
  /* learnt this from code tutor may use later-  background-image: linear-gradient(90deg, white ,rgb(129, 129, 255), pink, yellow, rgb(255, 200, 200), white);
  background-size: 400% 400%;
  /* backdrop-filter: blur(100px); */
  /* height: vh;
  animation: gradient 20s; ease infinite; */
  overflow-x: hidden;

}
.header{
}

/* learnt this from code tutor-  @keyframes gradient {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}  */


body{
    font-family: 'Switzer', sans-serif;
}
/*font-family: 'Bespoke Serif', serif;
font-family: 'Switzer', sans-serif;
font-family: 'Gambarino', serif;*/

a{
    color: rgb(66, 66, 66);
}

h1{
    font-family: 'Bespoke Serif', serif;
    font-weight: 200;
    color: rgb(66, 66, 66);
    font-size: 2.5rem;
    margin-block-start: 10rem;
    line-height: 1;
    text-align: center;
}

.author-date {
    font-size: 0.7rem;
    font-family: 'Bespoke Serif', serif;
    text-transform: uppercase;
    margin-block-end: 5rem;
    margin-block-start: 2rem;
    font-weight: 500;
    text-align: center;
    padding-block: 0.5rem;
    border-block: 1px dotted grey;
}

p {
    width: 100%;
    margin-block-end: 2rem;
    font-size: 0.9rem;
    max-width: 100%;
}

blockquote {
    font-family: 'Bespoke Serif', serif;
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 0.80rem;
    padding: 0.5rem;
    border-block: 1px dotted grey;
}

.footnotes {
    font-size: 0.65rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

.footnotes-continued {
    font-size: 0.65rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

figcaption {
    font-size: 0.65rem;
    margin-block-start: -1rem;
}
figure {
    margin-block-end: 2.5rem;
}
sup{
    font-size: 0.5rem;
    vertical-align: super;
}
nav {
	z-index: 1000;
    top:0;
    left: 0;
    margin-block-end: 3rem;

	li {
        font-family: 'Bespoke Serif', serif;
        font-weight: 100;
        line-height: 85%;
		font-size: 0.75rem;
        padding: 0.5rem;
        text-align: center;
        text-transform: uppercase;

	}
   /* worked on this with CD code tutor */
   .hr {
    border-bottom: 1px dotted black;
    width: 100%;
    position: relative;
    left: 0;

}
    }
    span {
        font-family: 'Switzer', sans-serif;
        text-transform: uppercase;
        padding-block-start: 0.7rem;
        font-size: 0.5rem;
        color: grey;
}
.meta {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
  }


footer {
font-size: 0.7rem;
    font-family: 'Bespoke Serif', serif;
    text-transform: uppercase;
    margin-block-start: 2rem;
    font-weight: 500;
    text-align: center;
    padding-block: 0.5rem;
    border-block: 1px dotted grey;
p {
text-align: center;
}

}
/* ipad media querie */
@media screen and (min-width: 768px) {
    /* body {
        background-color: white;
    } */

    p{
        width: 70ch;
        font-size: 1rem;
    }
}
/* laptop media querie */
@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    /* body {
        background-color: white;
    } */
    p{
        width: 80%;
    }
    .figures {
        display: flex;
        gap: 1rem;
    }
}