body{
    font-family: "Stack Sans Headline", sans-serif;
}
a{
    text-decoration: underline;
    color: red;
}

h1{
   font-family: 'New Title', serif;
    font-size: 8rem;
    margin-block-start: 3rem;
    line-height: 7rem;
    color: red;
}
.author-date {
    font-size: 1.25rem;
    margin-block-end: 5rem;
    font-weight: 500;
}

p {
    width: 100%;
    margin-block-end: 2rem;
    font-size: 0.8rem;
    max-width: 100%;
}

blockquote {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-style: italic;
    font-weight: 500;
    font-family: 'RX100', sans-serif;
    color: rgb(189, 189, 189);
    font-size: 1.25rem;
}

.footnotes {
    font-size: 0.65rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

figcaption {
    font-size: 0.65rem;
}
figure {
    margin-block-end: 2.5rem;
}
sup{
    font-size: 0.5rem;
    vertical-align: super;
}
nav {
	background-color: black;
	position: fixed;
	z-index: 1000;
	width: 100%;
    top:0;
    left: 0;
    margin-block-end: 10rem;
    border-bottom-left-radius:3rem;
    border-bottom-right-radius:3rem;
    padding:1rem;

    a{
        color: red;
    }

	li {
        font-weight: 300;
        line-height: 85%;
		font-size: 1rem;
		border-radius: 0px;
		display: inline-block;
		text-align: center;
        padding-inline: 2.3rem;

		:hover  {
				color: #b8b8b8;
			}
	}
    ol {
    text-align: center;
    }
}

footer {
color: red;
    border-top-left-radius:3rem;
    border-top-right-radius:3rem;
    background-color: black;
    padding-block: 1rem;
    width: 100%;
    position: fixed;
    bottom:0;
    left: 0;
p {
text-align: center;
}

}
/* ipad media querie */
@media screen and (min-width: 768px) {
    body {
        background-color: white;
    }

    p{
        width: 70ch;
        font-size: 1rem;
    }
}
/* laptop media querie */
@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    body {
        background-color: white;
    }
    p{
        width: 80%;
    }
    .figures {
        display: flex;
        gap: 1rem;
    }
}