body{
    font-family: "Stack Sans Headline", sans-serif;
}
a{
    text-decoration: underline;
    color: blue;
}

h1{
    font-size: 2.5rem;
    margin-block: 1rem;
    line-height: 1;
}
.author-date {
    font-size: 1.25rem;
    margin-block-end: 5rem;
    font-weight: 500;
}

p {
    width: 100%;
    margin-block-end: 2rem;
    font-size: 0.8rem;
    max-width: 100%;
}

blockquote {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-style: italic;
    font-weight: 500;
}

.footnotes {
    font-size: 0.65rem;
    margin-block-start: -0.8rem;

    & > * {
        font-size: 100%;
        margin-block-end: 0;
    }

    & > * + * {
        margin-block-start: 0.5rem;
    }
}

figcaption {
    font-size: 0.65rem;
}
figure {
    margin-block-end: 2.5rem;
}
sup{
    font-size: 0.5rem;
    vertical-align: super;
}

/* ipad media querie */
@media screen and (min-width: 768px) {
    body {
        background-color: white;
    }

    p{
        width: 70ch;
        font-size: 1rem;
    }
}
/* laptop media querie */
@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    body {
        background-color: white;
    }
    p{
        width: 80%;
    }
    .figures {
        display: flex;
        gap: 1rem;
    }
}