h2 {
	background: #FF8933;
	background-color: white;
	justify-content: center;
	color: #424242;
	padding-top: 25px;
	border-block-end: 6px #FF8933 solid;
}

sup {
	color: #FF8933;
}

blockquote {
	background: #FF8933;
	background: radial-gradient(circle, #ffdec6 70%, rgb(255, 249, 249) 100%);
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/filter */
	filter: drop-shadow(3px 3px 5px #d4d1d1);
	color: #424242;
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-radius */
	border-radius: 0.25rem;
	border-block-start: 6px #FF8933 solid;
}

h1 {
	color: #FF8933;
}

@media screen and (min-width: 1400px) {
	header {
		padding-inline-end: 27rem;
	}

	h2 {
		margin-inline-start: 1rem;
	}

	.menu {
		flex-direction: row;
		flex: 1;
		height: auto;
		background-color: #FF8933;



		li {
			background-color: #FF8933;
			border-block-end: 2px #ffffff solid;

			a {
				color: rgb(0, 0, 0);
			}

			&.active {
				border-block-end: 1;
				background-color: white;
				filter: saturate(100%);
				color: rgb(0, 0, 0);

				a {
					color: black;
				}
			}
		}
	}

	main {
		display: grid;
	}
}