h2 {
	background: #FF8933;
	background-color: white;
	justify-content: center;
	color: #424242;
	padding-top: 25px;
	border-block-end: 6px #FF8933 solid;
	position: sticky;
}

sup {
	color: hsl(0, 0%, 31%);
}

blockquote {
	background: #FF8933;
	background: radial-gradient(circle, #ffdec6 70%, rgb(255, 249, 249) 100%);
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/filter */
	filter: drop-shadow(3px 3px 5px #d4d1d1);
	color: #424242;
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-radius */
	border-radius: 0.25rem;
	border-block-start: 6px #FF8933 solid;
}

h1 {
	color: #FF8933;
	overflow-wrap: normal;
	display: flex;
	flex-wrap: wrap;
	line-height: 110%;
	padding-block-end: 2rem;
	letter-spacing: 0.3rem;

	span {
		/* allowing a slight rotation to work on inline caracters since the letters in this are not blocks */
		display: inline-block;
	}

	.word {
		white-space: nowrap;
	}

	span:nth-child(4n) {
		position: relative;
		transform: rotate(1deg);
	}

	span:nth-child(4n + 1) {
		position: relative;
		transform: rotate(2deg);
	}

	span:nth-child(4n + 2) {
		position: relative;
		transform: rotate(3deg);
	}

	span:nth-child(4n + 3) {
		position: relative;
		transform: rotate(15deg);
	}

	.group2-desktop {
		display: flex;
		gap: 20px;
		flex-basis: 100%;
		/* my tutor recomended this to make sure of 'sand is' on the same line on desktop  */
	}
}

@media screen and (min-width: 340px) and (max-width: 759px) {
	h1 {
		gap: 10px;
	}

	.group1-desktop {
		display: flex;
		gap: 20px;
		flex-basis: 100%;
	}

	.group2-desktop {
		display: flex;
		gap: 20px;
		flex-basis: 100%;
	}
}

@media screen and (min-width: 760px) {
	h1 {
		gap: 10px;
	}

	.group1-desktop,
	.group2-desktop {
		letter-spacing: 0.1rem;
	}

	.group1-desktop {
		display: flex;
		gap: 20px;
		flex-basis: 100%;
	}

	.group2-desktop {
		display: flex;
		gap: 20px;
		flex-basis: 100%;
	}

}

@media screen and (min-width: 1400px) {
	header {
		padding-inline-end: 27rem;
	}

	h2 {
		margin-inline-start: 1rem;
	}

	h1 {
		.word-group-desktop {
			display: flex;
			gap: 20px;
			flex-basis: 100%;
		}

		.menu {
			flex-direction: row;
			flex: 1;
			height: auto;
			background-color: #FF8933;

			li {
				background-color: #FF8933;
				border-block-end: 2px #ffffff solid;

				a {
					color: rgb(0, 0, 0);
				}

				&.active {
					border-block-end: 1;
					background-color: white;
					filter: saturate(100%);
					color: rgb(0, 0, 0);
				}
			}
		}

		main {
			display: grid;
		}
	}
}