:root {
	background-color: rgb(255, 255, 255);
}
/* header{
	/* background-image:
		radial-gradient(rgb(0, 0, 0) 1.6px, transparent 0);
	background-size: 8px 34px;
	background-position: 0 0;
	background-color: #ffffff; */ 

@media screen and (min-width: 1400px) {
	header{
		padding-inline-end: 20rem;
	}
	h1{
		color: #45A871;
		-webkit-text-stroke-width: 0.2px; 
        -webkit-text-stroke-color: black;
	}

    blockquote{
        background-color: #45A871;
		color: white;
		
	}
	
.menu {
			flex-direction: row;
			flex: 1;
			height: auto;
			background-color: #45A871;
			

			li {
			
				.title{
				}

				a {
					color: rgb(0, 0, 0);
				}

				&.active {
					border-block-end: 1;
					background-color: white;
					color: rgb(0, 0, 0);

					a{
						color: black;
					}
				}
			}
		}
		main {
			display:grid;

		}

	}
