h2 {
	background: #E76200;
	background-color: white;
	justify-content: center;
	color: #424242;
	padding-top: 25px;
	border-block-end: 6px #E76200 solid;
}

blockquote {
	background: #E76200;
	background: radial-gradient(circle, rgb(255, 222, 198) 70%, rgb(255, 249, 249) 100%);
	filter: drop-shadow(3px 3px 5px #d4d1d1);
	color: #424242;
	border-radius: 0.25rem;
	border-block-start: 6px #E76200 solid;
}

h1 {
	align-items: center;
	margin-block-start: -2rem;
	color: #E76200;
	overflow-wrap: normal;
	hyphens: none;
	line-height: 110%;
	letter-spacing: 0.9;


	span:nth-child(4n) {
		position: relative;
		top: -2px;
	}

	span:nth-child(4n + 1) {
		position: relative;
		top: -4px;
	}

	span:nth-child(4n + 2) {
		position: relative;
		top: -6px;
	}

	span:nth-child(4n + 3) {
		position: relative;
		top: -8px;
	}
}

.titles .author-date {
	position: absolute;

	left: 0;
	text-align: left;
}

.group1-desktop,
.group2-desktop {
	display: inline;
}

sup {
	color: #E76200;
}


main {
	.author-date {
		font-size: 1rem;
		font-family: var(--monospace-font);
		font-weight: 100;
	}
}

@media screen and (min-width: 760px) {


	h1 {
		color: #E76200;
		overflow-wrap: normal;
		hyphens: none;
		line-height: 110%;

		span:nth-child(4n) {
			position: relative;
			top: -3px;
		}

		span:nth-child(4n + 1) {
			position: relative;
			top: -6px;
		}

		span:nth-child(4n + 2) {
			position: relative;
			top: -9px;
		}

		span:nth-child(4n + 3) {
			position: relative;
			top: -12px;
		}

		.group1-desktop,
		.group2-desktop {
			display: block;
		}

	}

	main {
		.author-date {
			font-size: 1rem;
			margin-inline-start: 0rem;
		}
	}
}


@media screen and (min-width: 1400px) {
	header {
		padding-inline-end: 20rem;
	}

	h1 {

		color: #E76200;
		overflow-wrap: normal;
		hyphens: none;
		line-height: 110%;

		span:nth-child(4n) {
			position: relative;
			top: -4px;
		}

		span:nth-child(4n + 1) {
			position: relative;
			top: -8px;
		}

		span:nth-child(4n + 2) {
			position: relative;
			top: -12px;
		}

		span:nth-child(4n + 3) {
			position: relative;
			top: -16px;
		}

		.group1-desktop,
		.group2-desktop {
			display: block;
		}

	}


	h2 {
		margin-inline-start: 1rem;
	}

	.menu {
		flex-direction: row;
		flex: 1;
		height: auto;
		background-color: #E76200;



		li {
			background-color: #E76200;
			border-block-end: 2px #ffffff solid;

			a {
				color: rgb(0, 0, 0);
			}

			&.active {
				border-block-end: 1;
				background-color: white;
				filter: saturate(100%);
				color: rgb(0, 0, 0);

				a {
					color: black;
				}
			}
		}
	}

	main {
		.author-date {
			grid-column: 1;
			font-size: 1rem;
			font-family: var(--monospace-font);
			font-weight: 100;
			margin-block-start: -2rem;
		}
	}
}